{% extends 'base.html' %}

{% block title %}Home - CSEI Academy LMS{% endblock %}

{% block content %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <div class="jumbotron">
        <h1 class="display-4">Welcome to CSEI Academy LMS</h1>
        <p class="lead">Creative Star Education Institutes (CSEI) is dedicated to fostering intellectual discovery and providing top-notch education.</p>
        <hr class="my-4">
        <p>
            At CSEI, we believe in more than just traditional education. Our LMS offers an open space for learning enthusiasts from around the world to enhance their knowledge and skills.
            Based in Dubai, UAE, a global hub for business and tourism, we aim to provide students with not only academic excellence but also practical skills needed for the real world.
        </p>
        <p>
            We focus on engaging students through quality education without the pressure, ensuring they are well-prepared to utilize their learning in practical scenarios.
            With CSEI Academy LMS, students have access to a wide range of resources designed to help them explore, learn, and grow.
        </p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn More About Us</a>
    </div>
{% endblock %}
